streamlit
pandas
openpyxl
requests
beautifulsoup4
duckduckgo-search
tldextract
phonenumbers
email-validator
fake_useragent
lxml
selenium
webdriver-manager
google-api-python-client
google-auth
google-auth-oauthlib
